@import "tailwindcss";



.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.bg-sky-blue {
  background-color: #6ecbfe;
}